<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HotelSystem</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	@await RenderSectionAsync("css", required: false)

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HotelSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/user/userstyle.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

	<header class="bg-secondary-subtle px-0 pb-5 rounded shadow jumbotron mb-5">
		<nav class="navbar navbar-expand-xl mt-0 mb-3 navbar-light bg-white bg-opacity-50 border-bottom box-shadow py-3 px-5">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/images/brand.png" height="70" class="border border-3 border-white rounded" />
				</a>
				<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon "></span>
				</button>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav flex-grow-1 fs-3 fw-bold textShadow">
						@* <li class="nav-item">
							<a class="nav-link btn btn-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> 回首頁</a>
						</li> *@
						<li class="nav-item">
							<a class="nav-link  btn btn-light text-white" asp-area="User" asp-controller="Rooms" asp-action="Index"><i class="bi bi-card-list"></i> 房型列表</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  btn btn-light text-white" asp-area="User" asp-controller="Orders" asp-action="Index"><i class="bi bi-card-checklist"></i> 我的訂單</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  btn btn-light text-white" asp-area="User" asp-controller="Members" asp-action="Index"><i class="bi bi-person-vcard"></i> 會員中心</a>
						</li>
					</ul>

					<div class="text-center">

						<a asp-area="User" asp-controller="Members" asp-action="ShowMyPocket" class="position-relative me-3 text-danger">
							<i class="bi bi-heart-fill fs-3"></i>
						</a>
						<a class="position-relative me-5 text-dark CartStatus" asp-area="User" asp-action="ShowMyCart" asp-controller="Members">
							<i class="bi bi-cart4 fs-2"></i>
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
								0
							</span>
						</a>
					</div>
					<div class="text-center">
						@if (User.IsInRole("Member"))
						{
							var MemberName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;

							<span class="text-white fw-bold me-4 rounded textShadow">歡迎 @MemberName  </span>
							<a class="btn btn-light fs-5 fw-bold border-4 textShadow" asp-area="User" asp-controller="Login" asp-action="Logout"><i class="bi bi-person"></i> 登出</a>

						}
						else
						{
							<a class="btn btn-outline-light fs-5 fw-bold  border-4 textShadow" asp-area="User" asp-controller="Login" asp-action="Login"><i class="bi bi-person-fill"></i> 登入</a>
						}
					</div>
				</div>
			</div>
		</nav>


		<div class="m-5">

			<h1 class="fw-bold text-white textShadow mb-3">快點找找適合您的房間出發囉~~ </h1>
			<p class="text-white textShadow fs-4 mb-3"><strong>在這裡你一定能找到一間適合你的房型</strong></p>
			<hr class="mb-3">
			<a asp-controller="Rooms" asp-action="Index" asp-area="User" class="fw-bold fs-4 btn btn-success btn-lg border-5 border-white textShadow"><i class="bi bi-cursor-fill"></i> 馬上看看房間</a>

		</div>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - HotelSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<a class="position-fixed bottom-0 end-0 m-xl-5 pe-lx-5 m-md-3 pe-md-3 m-1 pe-1 rounded CartStatus" asp-area="User" asp-action="ShowMyCart" asp-controller="Members">
		<i class="bi bi-cart4 fs-1"></i>
		<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6 m-0">
			0
		</span>
	</a>	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		//let arrMyCart = [];

		// if (localStorage.getItem("myCart"))
		// 	arrMyCart = JSON.parse(localStorage.getItem("myCart"));

		
	</script>
</body>
</html>
