
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="toast-container position-fixed top-0 end-0 p-3">
<div class="toast align-items-center text-bg-danger border-0" id="addItemToast" data-bs-delay="2000">
	<div class="d-flex">
		<div class="toast-body fs-6">
		</div>
	</div>
</div>
</div>