@model HotelSystem.Models.Room

@{
	ViewData["Title"] = "Details";
}


<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">商品詳情</button>
		<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">規格描述</button>
		<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">商品評價</button>
		<button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">購物須知</button>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
		<h1 class="fw-bold py-3">@Html.DisplayFor(model => model.RoomName)</h1>

		<div class="card h-100">
			@*  <img src="~/RoomPhotos/@item.RoomID/1.jpg" class="card-img-top" alt="..."> *@
			<div id="carouselRoomPhoto-@Model.RoomID" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					@{
						bool isFirst = true;
						foreach (var photo in ViewBag.RoomPhotos)
						{

							if (photo.RoomID == Model.RoomID)
							{
								<div class="carousel-item @(isFirst ? "active" : "")" data-bs-interval="5000">
									<img src="~/RoomPhotos/@photo.PhotoPath" class="d-block w-100" alt="...">
								</div>
								isFirst = false;
							}
						}
					}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomPhoto-@Model.RoomID" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselRoomPhoto-@Model.RoomID" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class="card-body">

				<h3 class="card-text">@Html.DisplayFor(modelItem => Model.Introduction)</h3>
				<div class="text-decoration-line-through text-secondary">原價:@String.Format("{0:C0}", Model.Price * (decimal)1.5)</div>
				<h1 class="fw-bold text-danger">@Html.DisplayFor(modelItem => Model.Price)</h1>
				<div class="text-center">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-lg"><i class="bi bi-cart4"></i> 加入購物車</a>
						<a href="#" class="btn btn-primary btn-lg"><i class="bi bi-bookmark-check-fill"></i> 我要訂房</a>
						<a href="#" class="btn btn-danger btn-lg"><i class="bi bi-heart-fill"></i> 加入最愛</a>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
		aaa
	</div>
	<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
		bbb
	</div>
	<div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
		ccc
	</div>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model?.RoomID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
