@model MyModel_CodeFirst.Models.Book

@{
	ViewData["Title"] = "Details";
}

@* //2.2.4 修改Display View 排版樣式，排版可以個人喜好呈現 *@

<div>
	<h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
	<div class="card mb-4">
		@* //2.4.9 在Display View中加入未上傳照片的留言之顯示方式 *@
		@if (Model.Photo != null)
		{
			<img src="~/BookPhotos/@Model.Photo" class="card-img-top img-thumbnail" />
		}
		<div class="card-body">


			@* //2.4.11 在Display View中加入處理「有換行的留言」顯示方式 *@
			<p>	@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</p>
		</div>
		<div class="card-footer">
			<p class="text-end">
				@Html.DisplayFor(modelItem => Model.Author) 於 	@Html.DisplayFor(modelItem => Model.CreatedDate)
			</p>
		</div>

	</div>
</div>
<hr />




<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ReBookFormModal">
	我要回覆
</button>

<!-- Modal -->
<div class="modal fade" id="ReBookFormModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-3">我要回覆</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@* //嵌入回覆留言表單 *@
				<div id="ReBookForm" class="bg-light p-2 rounded">
				</div>
			</div>

		</div>
	</div>
</div>




<hr />
@* //2.3.10 編寫Display View，加入VCReBooks ViewComponent *@
<div id="ReBookList">
	@await Component.InvokeAsync("VCReBooks", new { bookID = Model.BookID, isDel = false})
</div>

<div>
	<a asp-action="Index">回留言列表</a>
</div>

@section Scripts {
	@* //2.5.12 載入前端驗證套件(如jQuery Validation)以驗證Create View的表單 *@

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		//2.5.7 在PostBooks\Display View中將RePostBooks\Create View以Ajax方式讀入
		//2.5.13 使用Callback function重新綁定 unobtrusive validation
		$('#ReBookForm').load('/ReBooks/Create?BookID=@(Model.BookID)',function(){
			$.validator.unobtrusive.parse($('#ReBookForm'));
		}); //2.5.8 傳遞BookID參數



		const ReBookFormModal = new bootstrap.Modal(document.getElementById('ReBookFormModal'));
											

		//2.5.15 在PostBooks\Display View中撰寫相關的JavaScript程式，以Ajax方式執行新增回覆留言
		function addReBook(){
			//2.5.17 在addReBook()函數中加入判斷是否驗證通過的程式
			if(!$('#ReBookForm form').valid()){  //驗證沒有成功,表單不送出
				return;
			}
			

			$.ajax({
				type:"Post",
				url:"/ReBooks/Create",
				data: $('#ReBookForm form').serialize(),
				success:function(){

					//1.更新底下的回覆留言區
					$('#ReBookList').load('/ReBooks/GetReBookByViewComponent?BookID=@(Model.BookID)');


					//2.將表單重新載入
					$('#ReBookForm').load('/ReBooks/Create?BookID=@(Model.BookID)',function(){
						$.validator.unobtrusive.parse($('#ReBookForm'));
					});

					//3.將modal隱藏
					ReBookFormModal.hide();


				},
				error:function(){

				}
			});
		}










	</script>
}
