@model IEnumerable<MyView.Models.NightMarket>
@{
    ViewData["Title"] = "全台夜市集錦";
}

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var item in Model)
    {
        <div class="card shadow mb-3 col-xl-4 col-md-6 ">
            @* <div class="card"> *@
                <img src="/images/@(item.Id).jpg" class="img-thumbnail" />
                <div class="card-body">
                    <h2 class="fw-bold">@item.Name</h2>
                    <div>
                        <p class="text-black">@item.Address</p>
                        <p class="text-end">
                            <a href="https://www.google.com.tw/maps/search/@(item.Address)" target="_blank" class="btn btn-danger">地圖</a>
                        </p>
                    </div>
                </div>
            @* </div> *@
        </div>
    }
</div>

