@model IEnumerable<MyModel_CodeFirst.Models.Book>

@{
    Layout = null;
}
@* //3.2.7 撰寫VCBooksTopThree的Default View，使其能顯示最新n筆留言 *@
<div class="row">
@foreach (var item in Model)
{
	<div class="col-6">
	<div class="card mb-4">
		@if (item.Photo != null)
		{


			<img src="~/BookPhotos/@item.Photo" class="card-img-top img-thumbnail" />
		}
		<div class="card-body">
			<h3>@Html.DisplayFor(modelItem => item.Title)</h3>


			<p class="text-truncate">@Html.Raw(item.Description)</p>
		</div>
	

	</div>
		</div>
}

</div>