@model MyView.Models.NightMarket

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>NightMarket</h4>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<img src="/images/@(Model.Id).jpg" class="img-thumbnail" />
		</div>


		<div class="col-md-6">
			<h1 class="fw-bold">@Model.Name</h1>
			<h3 class="text-dark">@Model.Address</h3>
			<p class="">
				<a href="https://www.google.com.tw/maps/search/@(Model.Address)" target="_blank" class="btn btn-danger btn-lg">地圖</a>
			</p>


		</div>

	</div>
</div>

<div>
	
	<a asp-action="Index">Back to List</a>
</div>
