@model IEnumerable<MyModel_CodeFirst.Models.Book>

@{
    ViewData["Title"] = "Home Page";
    string a = "";
}



<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        @foreach (var item in Model)
        {
			a = item == Model.First() ? "active" : "";
            <div class="carousel-item @a">
                <img src="~/BookPhotos/@item.Photo" class="d-block w-100" alt="@item.Title" title="@item.Title">
            </div>
        }
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="text-center">
    <h1 class="fw-bold">歡迎蒞臨我的網站</h1>
</div>

@* //3.2.8 在Home/Index View中加入VCBooksTopThree ViewComponent *@
<div class="p-5 border border-1 rounded">
    <h3 class="text-center">最新四筆留言</h3>
    @await Component.InvokeAsync("VCBooksTopThree")
    <h4 class="text-end"><a asp-action="Index" asp-controller="PostBooks">看更多留言...</a></h4>
</div>



